Source: wb-mqtt-urri
Maintainer: Wiren Board Team <info@wirenboard.com>
Section: misc
Priority: optional
Build-Depends: debhelper-compat (= 13), python3-jsonschema, python3-pyinotify, python3-socketio
Standards-Version: 4.5.1
Homepage: https://github.com/wirenboard/wb-mqtt-urri

Package: wb-mqtt-urri
Architecture: all
Depends: ${misc:Depends}, python3:any (>= 3.9.0), python3-wb-common (>= 2.1.0~~),  python3-requests,  python3-websocket
Description: Wiren Board URRI receiver (MQTT driver)
 It uses URRI API (ver. 2.16.15) for connect to receiver,
 get status data from it and send commands.
